.oficina-icone-atu{
    color: green;
    margin-left: 5%;
    margin-right: 15%;
    font-size: 20px;
}

.oficina-icone-del{
    color: red;
    font-size: 20px;
    margin-left: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    /* cursor:pointer; */
    overflow: hidden;
    outline:none;background-image: none;
}

.btn-save{
    margin-right: 10px;
}

.client-form{
    margin: 0 auto!important;
}